.dpt-panel-text-color .panel-button { color: rgb(85, 87, 83); }
.dpt-panel-icon-color .system-status-icon { color: rgb(85, 87, 83); }
.dpt-panel-arrow-color .popup-menu-arrow { color: rgb(85, 87, 83); }